.find-geely {
  padding: 80px 24px;
  /* background: #f7f9fb; */
  margin-block-start: 0px !important;
  overflow: hidden; /* importante: recorta el circulo como en el diseño */
}

.find-geely__inner {
  max-width: 1240px;
  margin: 0 auto;
  position: relative; /* para posicionar la imagen decorativa */
  min-height: 360px;

  display: flex;
  align-items: center;
}

/* =========================
   LEFT CONTENT
========================= */

.find-geely__content {
  z-index: 2; /* que quede encima del decorativo */
}

.find-geely__title {
  font-family: var(--font-geely);
  font-size: 48px;
  font-weight: 700;
  margin: 0 0 24px;
  line-height: 44px;
  text-transform: uppercase;
  background: linear-gradient(90deg, #027bff 0%, #444444 124.81%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.find-geely__desc {
  font-family: var(--font-inter);
  font-size: 20px;
  line-height: 30px;
  margin: 0 0 24px;
  max-width: 420px;
  color: #212529;
}

.find-geely__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  padding: 0 28px;
  background: #000;
  color: #fff;
  font-family: var(--font-geely);
  font-weight: 600;
  text-decoration: none;
  border: 0;
  font-size: 16px;
  width: 230px;
}

/* =========================
   DECOR IMAGE (DESKTOP)
========================= */

.find-geely__media {
  position: absolute;
  right: -220px; /* empuja para que quede recortada a la derecha */
  top: 0;
  width: 780px; /* tamaño grande tipo “decorativo” */
  max-width: none;
  z-index: 1;
  pointer-events: none; /* decorativo */
}

.find-geely__media img {
  width: 100%;
  height: auto;
  display: block;
  opacity: 0.95;
}

/* =========================
   RESPONSIVE
========================= */

@media (max-width: 1024px) {
  .find-geely__inner {
    min-height: 340px;
  }

  .find-geely__media {
    right: -260px;
    bottom: -160px;
    width: 720px;
  }
}

@media (max-width: 768px) {
  .find-geely {
    padding: 56px 16px;
    overflow: hidden; /* recorte */
  }

  .find-geely__inner {
    position: relative; /* para que el absolute se recorte aquí */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 550px; /* espacio para que “asome” el círculo como en diseño */
  }

  .find-geely__content {
    max-width: 100%;
    z-index: 2;
  }

  .find-geely__title {
    font-size: 32px;
    margin-bottom: 16px;
  }

  .find-geely__btn {
    width: 83%;
    max-width: 100%;
  }

  .find-geely__media {
    position: absolute;
    left: 0;
    right: auto;
    top: 320px;
    width: 604px;
    margin-top: 0;
    z-index: 1;
    pointer-events: none;
  }

  .find-geely__media img {
    width: 100%;
    height: auto;
    display: block;
    opacity: 0.95;
  }
}
