.after-sales-testimonials {
  margin-top: 0;
  padding: 80px 20px;
}

.after-sales-testimonials__inner {
  max-width: 1280px;
  margin-inline: auto;
  width: 100%;
}

.after-sales-testimonials__title {
  font-family: var(--font-geely);
  color: var(--c-black);
  font-weight: 700;
}

.after-sales-testimonials__description {
  margin-top: 24px;
  font-family: var(--font-inter);
  color: var(--c-black);
  font-weight: 500;
}
.after-sales-testimonials__carousel {
  margin-top: 40px;
}
.after-sales-testimonials__card {
  display: grid;
  grid-template-columns: minmax(415px, 1fr) 640px;
  gap: 24px;
}

.after-sales-testimonials__card-photo {
  max-height: 485px;
  overflow: hidden;
}

.after-sales-testimonials__card-photo-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 24px;
}

.after-sales-testimonials__card-customer {
  margin-top: 24px;
}
.after-sales-testimonials__card-name {
  font-family: var(--font-geely);
  color: var(--c-black);
  font-weight: 700;
}
.after-sales-testimonials__card-quote {
  margin: 0;
  font-family: var(--font-inter);
  color: var(--c-urban-graphite);
  font-weight: 500;
  margin-top: 16px;
}

.c-swiper-controls.controls-postventa-testimonials {
  padding-inline: 0;
  margin-top: 40px;
}
.after-sales-testimonials__card-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.after-sales-testimonials__card-content-inner {
  max-width: 415px;
}

@media (max-width: 1199px) {
  .after-sales-testimonials__card {
    grid-template-columns: minmax(415px, 1fr) 540px;
  }
}

@media (max-width: 1023px) {
  .after-sales-testimonials__card {
    grid-template-columns: 1fr;
  }
  .after-sales-testimonials__card-content {
    order: 2;
  }
  .after-sales-testimonials__card-photo {
    order: 1;
  }
  .after-sales-testimonials__card-content-inner {
    max-width: 620px;
  }
}

@media (max-width: 767px) {
  .after-sales-testimonials {
    padding-block: 40px;
    padding-inline: 16px;
  }
  .after-sales-testimonials__card-content-inner {
    padding: 24px;
  }
}
