.after-sales-hero {
  /* padding-inline: 20px; */
}

.after-sales-hero__inner {
  max-width: 1440px;
  width: 100%;
  margin-inline: auto;
  position: relative;
  overflow: hidden;
}
.after-sales-hero__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top right;
  z-index: -1;
}
.after-sales-hero__content {
  width: 544px;
  margin-left: 89px;
  padding-block: 149px;
}

.after-sales-hero__title {
  color: var(--c-white);
  font-family: var(--font-geely);
}

.after-sales-hero__actions {
  margin-top: 32px;
  display: flex;
  gap: 16px;
  align-items: center;
}

.after-sales-hero__cta {
  font-size: var(--fs-title-7);
  line-height: var(--lh-title-7);
  font-family: var(--font-geely);
  font-weight: 700;
  padding: 12px 32px;
  text-decoration: none;
  border: 1px solid var(--c-white);
  min-width: 174px;
  max-height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.after-sales-hero__cta--primary {
  background-color: var(--c-white);
  color: var(--c-black);
}
.after-sales-hero__cta--secondary {
  background-color: transparent;
  color: var(--c-white);
}
