.after-sales-hero {
  max-width: 1440px;
  width: 100%;
  margin-inline: auto;
  position: relative;
  overflow: hidden;
  margin-top: 0;
  padding-block: 149px;
  padding-inline: 20px;
  /*  */
  background-color: #212529;
}
@media (min-width: 1441px) {
  .after-sales-hero {
    max-width: 100%;
    padding-inline: 0;
  }
}
.after-sales-hero__bg--wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  max-width: 704px;
  z-index: 1;
}
.after-sales-hero__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top right;
  z-index: -1;
}

/* Desktop: mostrar solo en >= 768px */
.after-sales-hero__bg--desktop {
  display: block;
  border-top-left-radius: 1000px;
  border-bottom-left-radius: 1000px;
}

/* Mobile: ocultar por defecto */
.after-sales-hero__bg--mobile {
  display: none;
}

.after-sales-hero__inner {
  max-width: 1280px;
  width: 100%;
  margin-inline: auto;
}
.after-sales-hero__content {
  width: 100%;
  max-width: 544px;
}

.after-sales-hero__title {
  color: var(--c-white);
  font-family: var(--font-geely);
  padding-block: 15px;
}

.after-sales-hero__actions {
  margin-top: 32px;
  display: flex;
  gap: 16px;
  align-items: center;
}

.after-sales-hero__cta {
  font-size: var(--fs-title-7);
  line-height: var(--lh-title-7);
  font-family: var(--font-geely);
  font-weight: 700;
  padding: 12px 32px;
  text-decoration: none;
  border: 1px solid var(--c-white);
  min-width: 174px;
  max-height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.after-sales-hero__cta--primary {
  background-color: var(--c-white);
  color: var(--c-black);
}
.after-sales-hero__cta--secondary {
  background-color: transparent;
  color: var(--c-white);
}

/*  */
@media (max-width: 1279px) {
  .after-sales-hero__bg--wrapper {
    max-width: 624px;
  }
  .after-sales-hero__bg--desktop {
    object-position: center;
  }

  .after-sales-hero__content {
    /* margin-left: 20px; */
  }
}
@media (max-width: 1199px) {
  .after-sales-hero__bg--wrapper {
    max-width: 470px;
  }
}
/*  */
@media (max-width: 1023px) {
  .after-sales-hero__bg--wrapper {
    max-width: 395px;
  }
  .after-sales-hero__content {
    max-width: 500px;
  }
}

/*  */
@media (max-width: 767px) {
  .after-sales-hero {
    padding-block: 0;
    height: 545px;
    display: flex;
    align-items: flex-end;
    padding-bottom: 40px;
    background-color: #212529;
  }
  .after-sales-hero__bg {
    z-index: 1;
  }
  .after-sales-hero__bg--desktop {
    display: none;
  }
  .after-sales-hero__bg--mobile {
    display: block;
    transform: translateX(-50%);
    left: 50%;
    max-width: 375px;
  }
  .after-sales-hero__inner {
    padding-inline: 10px;
    max-width: 324px;
    position: relative;
    z-index: 2;
  }
  .after-sales-hero__actions {
    margin-top: 16px;
    gap: 10px;
  }

  /*  */
  .after-sales-hero__cta {
    max-height: 40px;
    min-width: 147px;
    padding-inline: 12px;
  }
  .after-sales-hero__cta--primary {
  }
  .after-sales-hero__cta--secondary {
  }
  /*  */

  .after-sales-hero {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding-inline: 0;
  }
  .after-sales-hero__inner {
    padding-inline: 30px;
    margin-top: 40px;
    max-width: 420px;
    margin-inline: auto;
  }
  .after-sales-hero__bg--wrapper {
    position: static;
    max-width: 100%;
    width: 100%;
  }
  .after-sales-hero__bg--mobile {
    position: static;
    transform: none;
    width: 100%;
    max-width: 100%;

    border-bottom-right-radius: 500px;
    border-bottom-left-radius: 500px;
  }
  .after-sales-hero__title {
    padding-block: 0;
  }
}
