.after-sales-benefits {
  padding: 80px 20px;
  margin-top: 0px;
}
.after-sales-benefits__inner {
  max-width: 1280px;
  margin-inline: auto;
}

.after-sales-benefits__grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 24px;
}

.after-sales-benefits__title {
  font-family: var(--font-geely);
  font-weight: 700;
  color: var(--c-black);
}

.after-sales-benefits__item-img {
  max-width: 100%;
  width: 100%;
  height: 238px;
  object-fit: cover;
  max-height: 238px;
  border-radius: 24px;
}

.after-sales-benefits__item-content {
  margin-top: 24px;
}
.after-sales-benefits__item-title {
  font-family: var(--font-geely);
  font-weight: 700;
  color: var(--c-black);
}
.after-sales-benefits__item-description {
  margin-top: 16px;
  font-family: var(--font-inter);
  color: var(--c-black);
  font-weight: 400;
}

@media (max-width: 767px) {
  .after-sales-benefits {
    padding-inline: 16px;
  }
  .after-sales-benefits {
    padding-block: 40px;
  }
  .after-sales-benefits__grid {
    margin-top: 24px;
  }
  .after-sales-benefits__inner {
  }
  .after-sales-benefits__item-img {
    max-height: none;
    object-fit: contain;
    height: auto;
    border-radius: 16px;
  }
}
