.promotions-hero {
  padding-top: 40px;
  padding-inline: 20px;
}

.promotions-hero__inner {
  max-width: 1280px;
  margin: 0 auto;
}

.promotions-hero__content {
}

.promotions-hero__title {
  font-family: var(--font-geely);
  font-weight: 700;
  color: var(--c-black);
}

.promotions-hero__description {
  color: var(--c-black);
  font-family: var(--font-inter);
  margin-top: 24px;
  font-weight: 500;
}

/* ---------------------------------------------------------------------- */
/* TABS */
/* ---------------------------------------------------------------------- */
.promotions-hero__tabs {
  display: flex;
  gap: 0;
  justify-content: flex-start;
  max-width: 1280px;
  margin: 0 auto;
}

.promotions-hero__tab {
  background: transparent;
  border: none;
  padding: 12px 32px;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;

  font-family: var(--font-inter);
  font-size: var(--fs-p-2);
  line-height: var(--lh-p-2);
  font-weight: 500;
  color: var(--c-black);
}

.promotions-hero__tab span {
  position: relative;
  z-index: 1;
}

.promotions-hero__tab::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #000;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.promotions-hero__tab--active {
  font-weight: 700;
}

.promotions-hero__tab--active::after {
  transform: scaleX(1);
}

.promotions-hero__tab:hover {
  color: #000;
}

/* =========================
   RESPONSIVE
========================= */

@media (max-width: 1279px) {
  .promotions-hero {
    padding-inline: 32px;
  }

  .promotions-hero__inner {
    max-width: 100%;
  }

  .promotions-hero__tabs {
    max-width: 100%;
  }
}

@media (max-width: 1023px) {
  .promotions-hero {
    padding-top: 32px;
    padding-inline: 24px;
  }

  .promotions-hero__tab {
    padding: 10px 24px;
  }
}

@media (max-width: 767px) {
  /* Móvil: Usuario lo creará */
  .promotions-hero {
    padding-top: 40px;
    padding-inline: 16px;
  }



}
