/* === Bloque: Hero Single Promoción === */
.promotions-single-hero {
  padding-top: 80px;
  padding-inline: 20px;
  max-width: 100%;
  background-color: #f6f3f5;
}

.promotions-single-hero__inner {
  max-width: 1280px;
  margin: 0 auto;
}

.promotions-single-hero__content {
}

.promotions-single-hero__title {
  font-family: var(--font-geely);
  font-weight: 700;
  color: var(--c-black);
}

.promotions-single-hero__description {
  color: var(--c-black);
  font-family: var(--font-inter);
  margin-top: 24px;
  font-weight: 500;
}
/* =========================
   RESPONSIVE
========================= */

@media (max-width: 1279px) {
  .promotions-single-hero {
    padding-inline: 32px;
  }

  .promotions-single-hero__inner {
    max-width: 100%;
  }
}

@media (max-width: 1023px) {
  .promotions-single-hero {
    padding-top: 32px;
    padding-inline: 24px;
  }
}

@media (max-width: 767px) {
  /* Móvil: Usuario lo creará */
  .promotions-single-hero{
    padding-top: 40px;
    padding-inline: 16px;
  }
}