wordpress/wp-content/themes/theme-attach/vendor
wordpress/wp-content/themes/theme-attach/composer.json
wordpress/wp-content/themes/theme-attach/composer.lock
wordpress/wp-content/themes/theme-attach/.github/