<!-- wp:template-part {"slug":"header","area":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
    <!-- About Us Hero -->
    <!-- wp:acf/about-us-hero /-->

    <!-- About Us Evolution -->
    <!-- wp:acf/about-us-evolution /-->

    <!-- About Us Journey -->
    <!-- wp:acf/about-us-journey /-->

    <!-- About Us Values -->
    <!-- wp:acf/about-us-values /-->

    <!-- About Us Social Responsibility -->
    <!-- wp:acf/about-us-social /-->

    <!-- About Us Technology -->
    <!-- wp:acf/about-us-tech /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->
