/* --------------------------------------------
   FONT: INTER (todas las variantes)
--------------------------------------------- */

/* Thin 100 */
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-ThinBETA.woff2") format("woff2"),
    url("../fonts/Inter-ThinBETA.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-ThinItalicBETA.woff2") format("woff2"),
    url("../fonts/Inter-ThinItalicBETA.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

/* Extra Light 200 */
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-ExtraLightBETA.woff2") format("woff2"),
    url("../fonts/Inter-ExtraLightBETA.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-ExtraLightItalicBETA.woff2") format("woff2"),
    url("../fonts/Inter-ExtraLightItalicBETA.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

/* Light 300 */
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-LightBETA.woff2") format("woff2"),
    url("../fonts/Inter-LightBETA.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-LightItalicBETA.woff2") format("woff2"),
    url("../fonts/Inter-LightItalicBETA.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* Regular 400 */
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2"),
    url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Italic.woff2") format("woff2"),
    url("../fonts/Inter-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Medium 500 */
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.woff2") format("woff2"),
    url("../fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-MediumItalic.woff2") format("woff2"),
    url("../fonts/Inter-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* SemiBold 600 */
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2"),
    url("../fonts/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-SemiBoldItalic.woff2") format("woff2"),
    url("../fonts/Inter-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

/* Bold 700 */
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.woff2") format("woff2"),
    url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-BoldItalic.woff2") format("woff2"),
    url("../fonts/Inter-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* ExtraBold 800 */
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-ExtraBold.woff2") format("woff2"),
    url("../fonts/Inter-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-ExtraBoldItalic.woff2") format("woff2"),
    url("../fonts/Inter-ExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

/* Black 900 */
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Black.woff2") format("woff2"),
    url("../fonts/Inter-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-BlackItalic.woff2") format("woff2"),
    url("../fonts/Inter-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

/* --------------------------------------------
   FONT: GEELY GLOBAL FONT
--------------------------------------------- */

@font-face {
  font-family: "Geely";
  src: url("../fonts/GEELYGlobalFont-Bold.woff2") format("woff2"),
    url("../fonts/GEELYGlobalFont-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* colores */
:root {
  --c-black: #0b0c0c;
  --c-greely-blue: #027bff;
  --c-urban-graphite: #212529;
  --c-steel-grey: #afb6b9;
  --c-engine-red: #f6282e;
  --c-white: #ffffff;
  --c-snow-white: #f6f3f5;
  --c-cloud-white: #e7e6e6;
  --c-midnight-tech: #212529;
}

/* Color de texto */
.text-black {
  color: var(--c-black);
}
.text-urban-graphite {
  color: var(--c-urban-graphite);
}
.text-steel-grey {
  color: var(--c-steel-grey);
}
.text-engine-red {
  color: var(--c-engine-red);
}
.text-white {
  color: var(--c-white);
}
.text-snow-white {
  color: var(--c-snow-white);
}
.text-cloud-white {
  color: var(--c-cloud-white);
}
.text-midnight-tech {
  color: var(--c-midnight-tech);
}

/* Color de fondo */
.bg-black {
  background-color: var(--c-black);
}
.bg-urban-graphite {
  background-color: var(--c-urban-graphite);
}
.bg-steel-grey {
  background-color: var(--c-steel-grey);
}
.bg-engine-red {
  background-color: var(--c-engine-red);
}
.bg-white {
  background-color: var(--c-white);
}
.bg-snow-white {
  background-color: var(--c-snow-white);
}
.bg-cloud-white {
  background-color: var(--c-cloud-white);
}
.bg-midnight-tech {
  background-color: var(--c-midnight-tech);
}
