.about-hero {
  padding: 80px 20px;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.about-hero__container {
  max-width: 1280px;
  margin: 0 auto;
}

.about-hero__header {
}

.about-hero__eyebrow {
  font-family: var(--font-geely);
  font-weight: 700;
  color: var(--c-black);
  letter-spacing: 3px;
}

.about-hero__title {
  margin-top: 16px;
  margin-bottom: 16px;

  font-family: var(--font-geely);
  font-weight: 700;
  color: var(--c-black);
}

.about-hero__description {
  margin-top: 16px;
  font-family: var(--font-inter);
  font-weight: 500;
  color: var(--c-black);
}

.about-hero__content {
  margin-top: 40px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
}

.about-hero__image-wrapper {
  position: relative;
}

.about-hero__image {
  width: 100%;
  height: auto;
  border-radius: 24px;
  display: block;
}

.about-hero__ceo {
  margin-top: 16px;

  color: var(--c-black);
  font-family: var(--font-inter);
  font-weight: 500;
}

.about-hero__ceo-name {
  font-family: var(--font-inter);
  font-weight: 500;
  color: var(--c-black);
}

.about-hero__ceo-title {
  font-size: 14px;
  color: #dee2e6;
  margin: 0;
}

.about-hero__text-content {
  padding-inline: 40px;
  padding-block: 21px 53px;
}

.about-hero__content-title {
  font-family: var(--font-geely);
  font-weight: 700;
  color: var(--c-black);
}

.about-hero__content-text {
  margin-top: 24px;

  font-family: var(--font-inter);
  font-weight: 500;
  color: var(--c-black);
}

.about-hero__content-text p {
  margin-bottom: 24px;
  line-height: 1.3333;
}

.about-hero__content-text p:last-child {
  margin-bottom: 0;
}

@media (max-width: 1023px) {
  .about-hero__content {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}

@media (max-width: 767px) {
  .about-hero {
    padding: 40px 16px;
  }

  .about-hero__eyebrow {
    max-width: 270px;
  }

  .about-hero__header {
  }

  .about-hero__title {
    margin-top: 16px;
    margin-bottom: 0;
  }
  .about-hero__content {
    margin-top: 24px;
    gap: 16px;
  }

  .about-hero__content-title {
    max-width: 320px;
    width: 100%;
  }

  .about-hero__ceo {
  }

  .about-hero__image {
    height: 220px;
    object-fit: cover;
    border-radius: 16px;
  }
  .about-hero__text-content {
    padding-block: 16px;
    padding-inline: 0;
  }
}
