.about-journey {
  padding: 80px 20px;
  margin: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about-journey__container {
  max-width: 1200px;
  margin: 0 auto;
}

.about-journey__title {
  font-weight: 700;
  font-family: var(--font-geely);
  color: var(--c-black);
}

.about-journey__grid {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 40px;
}

.about-journey__card {
  display: grid;
  grid-template-columns: 628px 1fr;
  gap: 24px;
}
.about-journey__card--vision {
  grid-template-columns: 1fr 628px;
}

.about-journey__card:hover {
}

.about-journey__card-image-wrapper {
  position: relative;
  height: 238px;
  overflow: hidden;
}

.about-journey__card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 24px;
  max-height: 238px;
}

.about-journey__card-overlay {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-journey__card-title {
  font-weight: 700;
  font-family: var(--font-geely);
  color: var(--c-white);
}

.about-journey__card-content {
  padding-block: 59px;
  font-family: var(--font-inter);
  font-weight: 500;
  color: var(--c-black);
}

.about-journey__card-content p {
  margin-bottom: 16px;
}

.about-journey__card-content p:last-child {
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .about-values__grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .about-journey__card {
    grid-template-columns: 528px 1fr;
  }
  .about-journey__card--vision {
    grid-template-columns: 1fr 528px;
  }
}

@media (max-width: 1023px) {
  .about-journey__grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 767px) {
  .about-journey {
    padding-block: 40px;
    padding-inline: 16px;
  }

  .about-journey__title {
  }

  .about-journey__grid {
    margin-top: 24px;
  }

  .about-journey__card {
    grid-template-columns: 1fr;
    gap: 16px;
  }
  .about-journey__card--vision {
    grid-template-columns: 1fr;
  }
  .about-journey__card--vision .about-journey__card-image-wrapper {
    order: 1;
  }
  .about-journey__card--vision .about-journey__card-content {
    order: 2;
  }

  .about-journey__card-image-wrapper {
    height: 140px;
  }

  .about-journey__card-title {
  }

  .about-journey__card-overlay {
  }

  .about-journey__card-content {
    padding-block: 0px 16px;
    padding-inline: 0;
  }
}

header.site-header.wp-block-template-part {
  display: none !important;
}
