.about-values {
  padding: 80px 20px;
  background: #ffffff;
  margin: 0;
}

.about-values__container {
  max-width: 1280px;
  margin: 0 auto;
}

.about-values__title {
  font-family: var(--font-geely);
  font-weight: 700;
  color: var(--c-black);
  /*  */
  padding-block: 11.5px;
}

.about-values__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  margin-top: 44px;
}

.about-values__item {
}

.about-values__item-image-wrapper {
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
  height: 160px;
}

.about-values__item-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.about-values__item:hover .about-values__item-image {
}

.about-values__item-title {
  font-family: var(--font-geely);
  font-weight: 700;
  color: var(--c-black);
  margin-top: 24px;
}

.about-values__item-description {
  margin-top: 16px;

  font-family: var(--font-inter);
  font-weight: 400;
  color: var(--c-black);
}

.about-values__item-description p {
}

.about-values__item-description p:last-child {
}

@media (max-width: 1023px) {
  .about-values__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .about-values {
    padding: 40px 16px;
  }

  .about-values__title {
    padding-block: 0;
  }

  .about-values__grid {
    grid-template-columns: 1fr;
    gap: 24px;
    margin-top: 24px;
  }
  .about-values__item-image-wrapper {
    height: auto;
  }
  .about-values__item-description {
    padding-bottom: 18px;
  }
}
