.cpt-single-blog .entry-content > p {
  display: none !important;
}
.cpt-single-blog .blog-news {
  background-color: var(--c-white) !important;
  padding-block: 80px;
}
.cpt-single-blog .blog-news__link {
  text-decoration: underline;
}
.cpt-single-blog .blog-news__link img {
  display: none;
}
@media (max-width: 767px) {
  .cpt-single-blog .blog-news__title {
    font-size: var(--fs-title-5);
    line-height: var(--lh-title-5);
    margin-bottom: 24px;
  }
  .cpt-single-blog .blog-news {
    padding-block: 40px;
  }
  .cpt-single-blog .blog-news__card-title a {
    display: inline-block;
    font-size: var(--fs-p-4);
    line-height: var(--lh-p-4);
  }
  .cpt-single-blog .blog-news__link {
    text-decoration: underline;
  }
  .cpt-single-blog .blog-news__date {
    text-transform: capitalize;
  }
}
/*  =========================
   BLOG SINGLE CONTENT
=========================
*/
.blog-content {
  padding-block: 80px;
  padding-inline: 24px;
  background-color: var(--c-snow-white);
}
.blog-content__inner {
  max-width: 880px;
  margin-inline: auto;
  width: 100%;
}

.blog-content__date {
  font-family: var(--font-inter);
  font-weight: 500;
  color: var(--c-urban-graphite);
  text-transform: capitalize;
}
.blog-content__title {
  font-family: var(--font-geely);
  font-weight: 700;
  margin-top: 24px;
  color: var(--c-black);
}

.blog-content__featured-image {
  margin-top: 40px;
}
.blog-content__image {
  max-width: 100%;
  height: auto;
  border-radius: 24px;
  overflow: hidden;
}

.blog-content__content h2.wp-block-post-title,
.blog-content__content h2.wp-block-heading {
  font-family: var(--font-inter);
  font-size: var(--fs-p-1);
  line-height: var(--lh-p-1);
  font-weight: 700;
  color: var(--c-black);
  margin-top: 24px;
}

.blog-content__content p {
  font-size: var(--fs-p-2);
  line-height: var(--lh-p-2);
  font-family: var(--font-inter);
  color: var(--c-black);
  font-weight: 500;
  margin-top: 24px;
}

.blog-content__content .wp-block-image {
  margin-top: 24px;
}
.blog-content__content img {
  border-radius: 24px;
}
.blog-content__content a {
  color: var(--c-black);
}
.blog-content__content a:hover {
  color: var(--c-black);
}

.cpt-single-blog .blog-content {
  margin-top: 0px;
}
/* Debe ser blanco */
/* .blog-news {
  background-color: var(--c-white) !important;
} */

@media (max-width: 767px) {
  .blog-content {
    padding-block: 40px 80px;
    padding-inline: 16px;
  }
  .blog-content__featured-image {
    padding-bottom: 16px;
  }
  .blog-content__image {
    border-radius: 16px;
    min-height: 197px;
    object-fit: cover;
  }
  .blog-content__content img {
    border-radius: 16px;
    min-height: 197px;
    object-fit: cover;
  }

  .blog-content__content p {
    font-size: var(--fs-p-4);
    line-height: var(--lh-p-4);
  }
  .blog-content__content h2.wp-block-post-title,
  .blog-content__content h2.wp-block-heading {
    font-size: var(--fs-p-2);
    line-height: var(--lh-p-2);
  }
  .blog-content__title {
    font-size: var(--fs-title-6) !important;
    line-height: var(--lh-title-6) !important;
  }
}
