/*  =========================
   BLOG SINGLE CONTENT
=========================
*/
.blog-content {
  padding-block: 80px;
  padding-inline: 24px;
  background-color: var(--c-snow-white);
}
.blog-content__inner {
  max-width: 880px;
  margin-inline: auto;
  width: 100%;
}

.blog-content__date {
  font-family: var(--font-inter);
  font-weight: 500;
  color: var(--c-urban-graphite);
}
.blog-content__title {
  font-family: var(--font-geely);
  font-weight: 700;
  margin-top: 24px;
  color: var(--c-black);
}

.blog-content__featured-image {
  margin-top: 40px;
}
.blog-content__image {
  max-width: 100%;
  height: auto;
  border-radius: 24px;
  overflow: hidden;
}

.blog-content__content h2.wp-block-post-title,
.blog-content__content h2.wp-block-heading {
  font-family: var(--font-inter);
  font-size: var(--fs-p-1);
  line-height: var(--lh-p-1);
  font-weight: 700;
  color: var(--c-black);
  margin-top: 24px;
}

.blog-content__content p {
  font-size: var(--fs-p-2);
  line-height: var(--lh-p-2);
  font-family: var(--font-inter);
  color: var(--c-black);
  font-weight: 500;
  margin-top: 24px;
}

.blog-content__content .wp-block-image {
  margin-top: 24px;
}
.blog-content__content img {
  border-radius: 24px;
}
.blog-content__content a {
  color: var(--c-black);  
}
.blog-content__content a:hover {
  color: var(--c-black);
}

/* Debe ser blanco */
/* .blog-news {
  background-color: var(--c-white) !important;
} */
